@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@import "tailwindcss";

body {
    margin: 0;
    text-align: center;
    font-family: 'Press Start 2P', cursive;   
    background-color: rgb(255, 0, 0);
    color: yellow;
}

